[Unit]
Description=Install vendor-default flatpaks
Wants=network-online.target
After=network-online.target
ConditionPathExistsGlob=/usr/share/flatpak/preinstall.d/*.preinstall

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak preinstall --system -y --noninteractive
RemainAfterExit=yes
TimeoutStartSec=30min

[Install]
WantedBy=multi-user.target
